@import 'setup';
@import 'variables';


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*GENERAL STYLES*/

html{
  font-size: 125%;
}

body{
  background: lightgrey;
}

/*HEADER STYLES*/

h1{
  font-family: ($headerFont);
  font-weight: 700;
  color: green;
}

h2{
  font-family: ($headerFont);
    span{
      text-decoration-line: line-through;
    }
}


/* FORM STYLES */

form{
  font-family: ($baseFont);
}


/* BODY STYLES */

ul{
  list-style: none;
  background: white;
    li{
      font-family: ($baseFont);
        p.shortMessage{
          font-style: italic;
        }
    }
}

.shortMessageSpan{
  text-transform: lowercase;
}