@import 'setup';
@import 'variables';
@import 'mixins';

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*GENERAL STYLES*/

html{
  font-size: 125%;
}

div.App{
  height: 100vh;
  @include portrait-tablet{
    height: 100vh;
  }
  @include landscape-phones{
    height: 100vh;
  }
  @include small-phones{
    height: 100vh;
  }
}

.wrapper{
  padding-bottom: 5%;
  @include landscape-phones{
    padding-top: 5%;
  }
}

body {
  background: lightgrey;
  text-align: center;
  font-size: 1rem;
  @include landscape-phones{
    font-size: 0.9rem;
  }
}

/*HEADER STYLES*/

header{
  max-width: 100%;
  h1{
    font-family: ($headerFont);
    font-size: 3rem;
    font-weight: 700;
    color: ($headerAccent);
    text-shadow: 2px 2px white;
      @include portrait-tablet{
        font-size: 2.5rem;
      }
      @include landscape-phones{
        font-size: 2rem;
      }
  }
  
  h2{
    font-family: ($headerFont);
    color: ($text);
    font-size: 2rem;
      @include portrait-tablet{
      font-size: 1.5rem; 
      }
      @include landscape-phones{
        font-size: 1.1rem;
      }
      span{
        text-decoration-line: line-through;
        color:($error);
      }
  }
  
}

/* FORM STYLES */

div.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
    form{
      font-family: ($baseFont);
      width: 70%;
      margin: 0 auto;
      text-align: center;
      max-width: 70%;
        textarea{
          width: 100%;
          border: 1px solid black;
        }
    }
}

button{
  background: $headerAccent;
  color: white;
  box-shadow: none;
    .resetButton{
      margin-bottom: 30%;
    }
}


/* BODY STYLES */

.errorHandling{
  color: ($error)
}

ul{
  color: white;
  list-style: none;
  background: $baseColor;
  width: 50%;
  margin: 0 auto;
    li{
      font-family: ($baseFont);
        p.shortMessage{
          font-style: italic;
        }
    }
}

.savedInput{
  font-style: italic;
}


//FOOTER STYLES

footer{
  width: 100%;
  background: $baseColor;
  color: white;
  display: block;
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 0.5rem;
  // padding: auto 0;
  // margin-bottom: 0;
  @include landscape-phones{
    font-size: 0.5rem;
  }
    p{
      // margin-bottom: 0;
      display: inline-block;
    }
}




