@import 'setup';
@import 'variables';


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*GENERAL STYLES*/

// *{
//   border: 2px solid rebeccapurple;
// }

html{
  font-size: 125%;
}

body{
  background: lightgrey;
}

/*HEADER STYLES*/

header{
  max-width: 100%;
  h1{
    font-family: ($headerFont);
    font-size: 3rem;
    font-weight: 700;
    color: ($headerAccent);
  }
  
  h2{
    font-family: ($headerFont);
    color: ($text);
      span{
        text-decoration-line: line-through;
        color:($headerAccent);
      }
  }
}

/* FORM STYLES */

form{
  font-family: ($baseFont);
  width: 70%;
  margin: 0 auto;
  text-align: center;
  max-width: 70%;
    textarea{
      width: 100%;
    }
}


/* BODY STYLES */

.errorHandling{
  color: ($error)
}

ul{
  color: white;
  list-style: none;
  background: $baseColor;
  width: 80%;
  margin: 0 auto;
    li{
      font-family: ($baseFont);
        p.shortMessage{
          font-style: italic;
        }
    }
}

.savedInput{
  text-decoration-line: underline;
  font-style: italic;
}

.shortMessageSpan{
  text-transform: lowercase;
}